/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: serif;
   background-color: #E1F4FF;
 }

 .login-form-box {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  opacity: 50%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  opacity: 0.6;
  font-size: 20px;
 }

 .login-form-container {
   display: flex;
   justify-content: center;
   height: 100%;
   align-items: center;
   background-image: url("http://res.cloudinary.com/ds7hk07wv/image/upload/c_scale,w_1492/v1500487459/pexels-photo-502387_hllund.jpg")
 }

 .main-body {
   height: 100%;
   background-image: url("http://res.cloudinary.com/ds7hk07wv/image/upload/c_scale,w_1492/v1500487459/pexels-photo-502387_hllund.jpg")
 
 }

 .login-form {
   min-height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 300px;
 }

 input.login-input {
   display: flex;
   align-items: center;
   text-align: center;
   border: 3px solid black;
   border-radius: 20px;
 }

 .login-input::placeholder {
   color: black;

 }
