// Place all the styles related to the api/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-page{
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100%;
  background-color: white;
  flex-wrap: wrap;
}

.albums{
  display: flex;
  justify-content: center;

}

.header-albums{
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: black;
  padding-top: 24px;
}

.single-album {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  margin: 20px;
  background-color: #025AC2;
  border: 1px solid #0276FD;
  height: 50px;
  color: white;
}

.album-show-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 100%;
}
.album-show-page2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  height: 100%;
  flex-wrap: wrap;
}

.album-photo{
  width: 200px;
  margin: 10px;
  border: 1px solid black;

}
