.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-family: serif;
  color: gray;
  font-family: 'Zilla Slab', serif;
  background-color: rgba(0, 0, 0, .2)
}

.login-signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1px;
  margin: 1px;
  color: white;
}

.icon-focus{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, .9);
}

.auth-buttons {
  padding: 5px;
  margin: 5px;
  color: white;
}

.auth-buttons:hover{
font-weight:bold;
}

.login-button{
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  color: rgba(255, 255, 255, 1)
}

// .login-button:hover{
//   color: gray;
// }

.sign-up-button {
  padding: 5px;
  margin: 10px;
  margin-right: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  width: 90px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1)
}

.sign-up-button:hover{
  color: gray;
}

.logo-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
  margin-left: 30px;
  color: white;
}

.logo-text:hover{
  font-weight: bold;
}

.explore-button{
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 5px;
  color: rgba(255, 255, 255, 1)
}
