.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  font-size: 20px;
  opacity: .9;
  font-family: serif;
  color: gray;
}

.login-signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
}

.auth-buttons {
  padding: 5px;
  margin: 5px;
  color: white;
  opacity: .8;
}

.auth-buttons:hover{

font-weight:bold;

}

.login-button{
  padding: 5px;
  margin: 5px;
  color: white;
  opacity: .8;
}

.login-button:hover{
  color: gray;
}

.sign-up-button {
  padding: 5px;
  margin: 10px;
  color: black;
  background-color: white;
  opacity: .8;
  border: 1px solid black;
  border-radius: 5px;

}

.sign-up-button:hover{
  color: gray;
}

.logo-text {
  font-family: fantasy;
  font-size: 30px;
  padding: 5px;
  margin: 10px;
  color: white;
  opacity: .8;
}

.logo-text:hover{
  font-weight: bold;
}
