// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-gallery-class {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
}

.masonry{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.single-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin: 20px;
  border: 1px solid black;
}

.photo-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  border: 1px solid black;
}

.close-button {
  color: white;
  background-color: #A10000;
  border: 1px solid #A10000;
  border-radius: 1px;
  padding: 0 11px;
  margin-top: 8px;
  text-align: center;
  font-size: 15px;
  width: 200px;
  height: 40px;
}

.close-button:hover{
  background-color: #D60000;
}

.upload-form {
 min-height: 150px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 250px;
}

.upload-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.whole-photo-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo-description{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.description{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.entire-photo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Zilla Slab', serif;
}

.upload-check{
  padding: 10px;
}

.dropdown{
  background: no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #025AC2;
 color: #fff;
}

.submit-button-album:hover{
  color: gray;
}
