// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .photos-index{
//   display: flex;
//   justify-content: center;
// }
//
// .photo-items{
//   display: flex;
//   justify-content: center;
//   flex-direction: row;
//   align-items: center;
// }

.my-gallery-class {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.masonry{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.single-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin: 20px;
  border: 1px solid black;
}

.whole-photo-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

.close-button {
  color: white;
  background-color: #A10000;
  border: 1px solid #A10000;
  border-radius: 1px;
  padding: 0 11px;
  margin-top: 8px;
  text-align: center;
  font-size: 15px;
  width: 200px;
  height: 40px;
}

.close-button:hover{
  background-color: #D60000;
}

.upload-form {
 min-height: 150px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 250px;
}

.upload-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo-description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
