.login-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 50%;
  height: 100%;
  border-radius: 20px;
  font-size: 20px;
  font-family: 'Zilla Slab', serif;
}


.login-form-container {
 display: flex;
 justify-content: center;
 height: 100%;
 align-items: center;
}

.login-form {
 min-height: 150px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 250px;
}

input.login-input {
 display: flex;
 align-items: center;
 text-align: left;
 border: 2px solid black;
 width: 250px;
 padding: 2px;
}

.login-input::placeholder {
 color: black;

}

.submit-button {
  color: white;
  background-color: #1C27A6;
  border: 1px solid #205421;
  border-radius: 1px;
  padding: 0 11px;
  margin-top: 8px;
  text-align: center;
  font-size: 15px;
  width: 200px;
  height: 40px;
}

.submit-button:hover{
  background-color: #202DBF;
}

.errors{
  text-align: center;
}

.errors-exact{
  color: red;
}

.demo-button:hover{
  background-color: #202DBF;
}

.demo-button {
  color: white;
  background-color: #1C27A6;
  border: 1px solid #205421;
  border-radius: 1px;
  padding: 0 11px;
  margin-top: 8px;
  text-align: center;
  font-size: 15px;
  width: 200px;
  height: 40px;
}

.instead{
  padding: 5px;
}

.instead-button{
  font-weight: bold;
}

.instead-button:hover{
  color: blue;
}

.choice{
  font-size: 15px;
  padding: 5px;
}
