// Place all the styles related to the api/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-form{
  color: white;
  background-color: rgba(0, 0, 0, .2)
}

.add-tag-bar{
  color: black;
  display: flex;
  justify-content: space-between;
  // background-color: rgba(0, 0, 0, .4);
  background-color: white;
  height: 27px;
  font-size: 20px;
}
