.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
}
