.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0866A3;
  font-size: 20px;
}

.login-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
}

.auth-buttons {
  padding: 3px;
  margin: 3px;
}

.auth-buttons:hover{

font-weight:bold;

}
